<%= form_with model: article do |form| %>
  <div class="w-full">
    <div class="mx-auto mb-4">
      <%= form.label :title, class: "block text-gray-700 font-bold mb-2" %>
      <%= form.text_field :title, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      <% article.errors.full_messages_for(:title).each do |message| %>
        <p class="text-sm text-red-500 italic font-bold">
          <%= message %>
        </p>
      <% end %>
    </div>
    <div class="mx-auto mb-8">
      <%= form.label :body, class: "block text-gray-700 font-bold mb-2" %>
      <%= form.text_area :body, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      <% article.errors.full_messages_for(:body).each do |message| %>
        <p class="text-sm text-red-500 italic font-bold">
          <%= message %>
        </p>
      <% end %>
    </div>
  </div>
  <div>
    <%= form.submit class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
<% end %>
