<div class="flex-col mx-auto w-full">
  <div class="space-y-4 w-full mb-8">
  <h1 class="text-3xl font-bold">
    <%= link_to 'All Articles', root_path, class: "hover:underline" %>
  </h1>
</div>

<div class="w-full mb-8">
  <h1 class="text-3xl font-bold"><%= @article.title %></h1>
</div>

<div class="w-full mb-8">
  <p><%= @article.body %><p>
</div>

<%= link_to "Edit Article", edit_article_path(@article) %>
<%= link_to "Destroy", article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</div>